.footer{
    height: 400px;
    background-color: var(--primary); 
    letter-spacing: 5px;
}

.footerTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 30px;
    background-color: var(--primary);
    color: white;
    padding-top: 60px;
}

.footerInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    height: 300px;
    margin-bottom: 50px;
    width: 80%;
    margin: auto;
  
}
.footerLeft{
    font-size: 13px;
    border-top: 0.1px rgba(124, 124, 124, 0.309) solid;
    border-bottom:0.1px rgba(124, 124, 124, 0.309) solid;
    width: 80%;
    background-color: var(--primary);
    color: white;
    margin-left: 50px;
    height: 135px;
}

.footerLeft1 div:hover{
    transform: scale(1.1);
    transition: .2s ease-out;
}

.footerLeft2 div:hover{
    transform: scale(1.1);
    transition: .2s ease-out;
}

.footerLeft3 div:hover{
    transform: scale(1.1);
    transition: .2s ease-out;
}

.footerLeft1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footerLeft2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.footerLeft3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.footerRight{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    align-items: center;
    border-top: 0.1px rgba(124, 124, 124, 0.309) solid;
    border-bottom:0.1px rgba(124, 124, 124, 0.309) solid;
    width: 20%;
    height: 135px;
    background-color: var(--primary);
    color: white;
    
}

.footerRight svg:hover{
    transform: scale(1.1);
    transition: .2s ease-out;
}

@media(max-width: 768px){

    .footerInfo{
        flex-direction: column;
    }

    .footerLeft{
        display: none;
    }

    .footerTitle{
        padding-bottom: 32px;
        font-size: 24px;
        margin-bottom: 24px;
    }

    .footer{

      margin-top: 400px;
    }
}