
.banner{
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 900px;
    color: rgb(255, 255, 255);
    font-size:40px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0.9640231092436975) 48%, rgba(27,0,27,1) 81%, rgba(27,0,27,1) 100%);
    padding: 0 5%;
  }

  .bannerImage img{
    padding-left: 50px;
    transform: scale(1.2);
  }
  
  .bannerTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: load 1.5s ease-in-out 1;
    width: 50%;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .bannerBtn{
    margin-top: 80px;
    height: 50px;
    width: 180px;
    border-style: hidden;
    border-radius: 10px;
    color: var(--primary);
    background-color:rgb(255, 255, 255);
    border: 0.1px rgba(124, 124, 124, 0.309) solid;
    font-size:20px;
    transition: .5s;
  }


  @media (min-width:769px){

    .bannerBtn:hover{
      transform: scale(1.05);
      transition: .5s;
    }
  }
  
  
  @keyframes load {
    0% {
      opacity: 0;
      transform: translateY(-40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .bannerImage{
    filter: saturate(70%);
    width: 50%;
    animation: load 1s ease-in-out 1;
  }

  .bannerImage img{
    max-width: 100%;
    display: block;
    object-fit: cover;
  }

  @media (max-width:768px){
    .banner{
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 500px;
    }

    .bannerImage{
      width: 90%;
      padding-right: 20px;
    }

    .bannerTitle{
      font-size: 25px;
      margin-top: 50px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .bannerBtn{
      margin-top: 50px;
    }
  } 